<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="12" name="Suite" parallel="tests">
  <test thread-count="12" name="Test" parallel="tests">
    <classes>
      <class name="TestNG.MFAC_TestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
